@{
    ViewData["Title"] = "Dashboard";
}

<div id="Container">

    <div id="firstContainer">
        
        <div id="first">
            ss
        </div>

        <div id="second">
            ss
        </div>

        <div id="third">
            ss
        </div>

    </div>

</div>