#Container {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 0;
    padding: 10px;
}

#card-title {
    font-family: 'Fira Code VF';
    font-size: 20px;
    font-weight: 410;
    color: #0e2ff9;
}

.holderTitle{
    font-family: 'Fira Code VF';
}

#footerTitle{
    font-family: 'Fira Code VF';
    font-size: 18px;
    font-weight: 410;
}

#At{
    margin-left: auto;
}

#footer{
}

@media (max-width: 768px) {
    #pc{
        padding: 0;
    }
    #At{
        width: 100%;
        margin-top: 10px;
    }
}

.myHeader {
    font-weight: 900;
    color: #f2c94c;
    font-size: 25px;
}

.myContent{
    font-weight:600;
}

#Card{
    border-radius: 5px;
    font-family:'Fira Code VF';
    display:flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
}

#Inner {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

#Outer {
    background-color: #f2c94c;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
}

#VN{
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px dashed ;
}

#BDiv{
    display:flex;
    flex-direction: row;
    gap: 10px;
}

#GDiv {
    font-size: 16px;
    font-weight: 900;
    border-bottom: 1px dashed;
}

.myButtons{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    color:white;
    font-weight:500;
}
    .myButtons:hover{
        transform: scale(1.1);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }


ul{
    font-weight: 600;
}

@media (max-width: 768px) {
    #hidden{
        display: none;
    }

    #Card{
        flex-direction: column-reverse;
    }

    #Inner, #Outer{
        width: 100%;
        height: max-content;
    }

    #BDiv{
        flex-direction: column;
    }

    .myButtons:hover {
        transform: scale(1.03);
    }
}