@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="Container">

    <div id="Blog">
        
        <div id="BlogImage">
            
            <img />

        </div>

        <div id="BlogContent">
            
            <p id="NewsDate"></p>

            <p id="Title">
                <span id="NewsTitle" class="english"></span>
                <span id="SNewsTitle" class="swahili"></span>
            </p>

            <p id="TheContent">
                <span id="NewsContent" class="english"></span>
                <span id="SNewsContent" class="swahili"></span>
            </p>

        </div>

    </div>

</div>


@section Scripts{
    <script src="/js/newsletter.js"></script>
}