@{
    ViewData["Title"] = "Venue";
}

<div id="Container">

    <div id="First">
        
        <img src="/Images/first-image.jpg" class="img-fluid" style="border-radius:5px;"/>

        <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:center">
            <div style="font-family:'Fira Code VF'">Julius Nyerere International Conference Centre</div>
            <i id="edit" class="bi bi-pen"></i>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <span class="english">Capacity</span>
            <span class="swahili">Nafasi</span>
            <span style="font-size:14px;" class="badge bg-success">100</span>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <i style="color:#f2c94c" class="bi bi-geo-alt-fill"></i>
            <span>Posta, Dar es Salaam</span>
        </div>


        <div class="d-flex flex-row justify-content-between align-items-center" style="font-family:'Fira Code VF';">
            <i style="color:#f2c94c;" class="bi bi-telephone-fill"></i>
            0679844679
        </div>



    </div>

    <div id="Second">
        ss
    </div>

</div>

