@{
    ViewData["Title"] = "Admin";
}

@model AdminModel

<div id="Container">

    <div id="Inner">

        <div class="mb-3" style="display:flex;justify-content:center;align-items:center;">
            <img src="/Images/safety.svg" width="100"/>
        </div>

        <form class="loginForm" asp-action="AdminLogin" style="font-family: 'Fira Code VF'" method="post">

            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-person-bounding-box" id="basic-addon1"></span>
                    <input type="text" asp-for="Username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-key" id="basic-addon1"></span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="***********" aria-label="Password" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" style="font-weight: 450;" class="btn btn-primary w-100">
                <span class="english">Login</span>
                <span class="swahili">Ingia</span>
            </button>

        </form>

    </div>

    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="/Images/wip.gif" width="70" height="70" />
                    <p style="font-family:'Fira Code VF'">
                        <span class="english">Signing in...</span>
                        <span class="swahili" style="display: none">Tafadhali subiri...</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {

                $(".loginForm").submit(function (event) {
                    // Show the loading modal
                    $("#loadingModal").modal("show");

                    $('body').css('pointer-events', 'none')
                });

            });

        </script>

}