@{
    ViewData["Title"] = "Admin";
}

<div id="Container">

    <div id="Inner">

        <div style="display:flex;justify-content:center;align-items:center;">
            <img src="/Images/safety.svg" width="100"/>
        </div>

    </div>

</div>

