@{
    ViewData["Title"] = "Create Account";
}
@Model AccountModel

<div id="Container">

    <div id="Inner">
        
        <div style="display:flex;justify-content:center;align-items: center;">

            <img src="/Images/safety.svg" width="100"/>

        </div>

        <p style="font-family: 'Fira Code VF';text-align: center;">Create Account</p>

        <form>

            <div class="mb-3">

                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-telephone" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="0679844679" aria-label="Username" aria-describedby="basic-addon1">
                </div>

            </div>

            <div class="mb-3">

                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-envelope-at" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="mwajuma@gmail.com" aria-label="Username" aria-describedby="basic-addon1">
                </div>

            </div>

            <div class="mb-3">

                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-key" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="Namba ya Simu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

            </div>

            <div class="mb-3">

                <div class="input-group mb-3">
                    <span class="input-group-text bi bi-key-fill" id="basic-addon1"></span>
                    <input type="text" class="form-control" placeholder="Namba ya Simu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

            </div>

            <input type="submit" class="btn btn-primary w-100" value="Submit" />
        </form>

    </div>

</div>