@{
    ViewData["Title"] = "Create Account";
}

@model AccountModel

<div id="Container">

    <div id="Inner">
        
        <div style="display:flex;justify-content:center;align-items: center;">

            <img src="/Images/safety.svg" width="100"/>

        </div>

        <p style="font-family: 'Fira Code VF';text-align: center;">Create Account</p>

        <form asp-action="CreateAccount" method="post">

            @ViewData["UserId"]

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">

                <div class="input-group">
                    <span class="input-group-text bi bi-telephone" id="basic-addon1"></span>
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="0679844679" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="mb-3">

                <div class="input-group">
                    <span class="input-group-text bi bi-envelope-at" id="basic-addon1"></span>
                    <input type="email" asp-for="Email" class="form-control" placeholder="mwajuma@gmail.com" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <div class="input-group">
                    <span class="input-group-text bi bi-key" id="basic-addon1"></span>
                    <input type="password" asp-for="Password" class="form-control" placeholder="*********" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <div class="input-group">
                    <span class="input-group-text bi bi-key-fill" id="basic-addon1"></span>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="**********" aria-describedby="basic-addon1">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="UserId" value="@ViewData["UserId"]" />

            <button type="submit" class="btn btn-primary w-100" style="font-family: 'Fira Code VF';font-weight:550;">
                <span class="english">Create Account</span>
                <span class="swahili">Tengeneza Akaunti</span>
            </button>
        </form>

    </div>

</div>

<style>
    input {
        font-family: 'Fira Code VF';
        font-weight: 450;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}