@{
    ViewData["Title"] = "Welcome";
}

<div id="Container">

    <div id="Header">

        <img src="~/Images/coatofarms.png" id="firstImage"/>

        <section>
            <span style="font-size: 20px" class="english">The United Republic of Tanzania</span>
            <span style="font-size: 18px; word-spacing: 20px" class="swahili">Jamhuri ya Muungano wa Tanzania</span>
            <span style="font-size: 18px" class="english">Ministry of Home Affairs</span>
            <span style="font-size: 17px" class="swahili">Wizara ya Mambo ya Ndani ya Nchi</span>
            <span style="font-size: 16px" class="english">Police Force</span>
            <span style="font-size: 16px" class="swahili">Jeshi la Polisi</span>
        </section>

        <img src="/Images/polisi.png" id="secondImage"/>
    </div>

    <div id="firstLine" class="someDiv"></div>

    <div id="SecondSection">

        <div class="myContainer">
            <img src="/Images/roads.jpg" alt="Background Image" class="background-image">
            
            <div id="myContent">
                
                <p id="Kit">
                    <span class="swahili">Kitengo Cha Usalama Barabarani</span>
                    <span class="english">Road Safety Unit</span>
                </p>

                <p id="explanation">
                    <span class="english">We aim to test the theoretical ability of drivers, to prevent and control road accidents within the United Republic of Tanzania.</span>
                    <span class="swahili">Tuna lengo la kupima uwezo kinadharia kwa madereva, ili kuzuia na kudhibiti ajali za barabarani ndani ya Jamhuri ya Muungano wa Tanzania.</span>
                </p>

                <div style="display:flex;gap:10px">

                    <a asp-controller="Account" asp-action="Register" id="myLink">
                        <div>
                            <span class="swahili">Jisajili</span>
                            <span class="english">Register</span>
                        </div>
                        <i class="bi bi-person-plus"></i>
                    </a>

                    <a asp-controller="Account" asp-action="Login" id="myLink2">
                        <div>
                            <span class="swahili">Ingia</span>
                            <span class="english">Login</span>
                        </div>
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>

                </div>

            </div>

        </div>

        <div id="OtherContainer">

            <p style="font-family: 'Fira Code Regular';font-weight:850;font-size:18px">Newsletter</p>

            <div id="Blog">

                <div id="BlogContent">

                    <p id="Title">
                        <span id="NewsTitle" class="english"></span>
                        <span id="SNewsTitle" class="swahili"></span>
                    </p>

                    <p id="TheContent">
                        <span id="NewsContent" class="english"></span>
                        <span id="SNewsContent" class="swahili"></span>
                    </p>

                    <p id="NewsDate">
                        <span id="ENewsDate" class="english"></span>
                        <span id="SNewsDate" class="swahili"></span>
                    </p>

                </div>

            </div>

        </div>

    </div>

    <div id="customDiv">

        <div id="Comms">

            <p class="titles">
                <span class="swahili">Wasiliana nasi</span>
                <span class="english">Contact Us</span>
            </p>

            <div style="display:flex;flex-direction:column;gap:5px;font-family:'Fira Code Light'">

                <span class="swahili">Namba ya dharura 111/112</span>
                <span class="english">Emergency number 111/112</span>
                <span class="swahili">S.L.P 961, 4 Mtaa wa Posta, DODOMA</span>
                <span class="english">P.O. Box 961, 4<sup>th</sup> Post Street, DODOMA</span>
                <span class="swahili">Simu: 0262323585 / +255 787 668 306</span>
                <span class="english">Phone: 0262323585 / +255 787 668 306</span>
                <span>Fax: 0262323586</span>

            </div>

        </div>

        <div id="Links">

            <p class="titles">
                <span class="swahili">Viungo vya haraka</span>
                <span class="english">Quick Actions</span>
            </p>

            <div style="display:flex;flex-direction:column;gap:5px;font-family:'Fira Code Light'">

                <span class="swahili">Mafunzo ya Usalama Barabarani</span>
                <span class="english">Road Safety Training</span>
                <span class="swahili">Mafunzo ya Usalama wa Mtandao</span>
                <span class="english">Cyber Security Training</span>
                <span class="swahili">Mafunzo ya Ulinzi wa Taifa</span>
                <span class="english">National Defence Training</span>
                <span class="swahili">Mafunzo ya Uokoaji</span>
                <span class="english">Rescue Training</span>
            </div>

        </div>

        <div id="others">

            <p class="titles">
                <span class="swahili">Taasisi nyengine</span>
                <span class="english">Other Institutions</span>
            </p>

            <div style="display:flex;flex-direction:column;gap:5px;font-family:'Fira Code Light'">

                <span class="swahili">TAMISEMI</span>
                <span class="english">TAMISEMI</span>
                <span class="swahili">Zima moto na uokoaji</span>
                <span class="english">Fire and Rescue</span>
                <span class="swahili">Mamlaka ya Vitambulisho vya Taifa</span>
                <span class="english">National Identification Authority</span>
                <span class="swahili">Uhamiaji Tanzania</span>
                <span class="english">Migration Offices</span>

            </div>

        </div>

    </div>

</div>

<style>
    #firstImage {
        width: 80px;
        height: 60px;
    }

    #secondImage {
        width: 65px;
        height: 65px;
        margin-right: 4px;
    }
    #myLink{
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration:none;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
}

#myLink2 {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 10px;
}

</style>

@section Scripts {
    <script src="/js/newsletter.js"></script>
}