@{
    ViewData["Title"] = "OnBoarding";
}

<div id="TheContainer">
    
    <main>
        
        <div id="left">
            <img src="/Images/coatofarms.png" class="object-fit-contain"/>
        </div>
        
        <div id="right">
            <br/>
            <span class="english">Before you proceed, the information will be required:</span>
            <span class="swahili">Kabla ya kuendelea uwe na taarifa zifuatazo:</span>
            
            <br/>
            
            <ol class="english">
                <li>National Identification Number for tanzanians, or passport number for non-nationals</li>
                <li>Your three names</li>
                <li>Desired license class</li>
                <li>Highest Educational level</li>
                <li>Phone number and/or email</li>
            </ol>
            
            <ol class="swahili">
                <li>Namba yako ya NIDA kwa mtanzania, au namba ya passpoti kwa wageni.</li>
                <li>Majina yako matatu.</li>
                <li>Daraja la leseni ya udereva unalohitaji.</li>
                <li>Kiwango chako cha juu cha elimu.</li>
                <li>Namba yako ya simu au/na barua pepe</li>
            </ol>
            
            <a asp-controller="Account" asp-action="Register">
                <span class="english">Proceed</span>
                <span class="swahili">Endelea</span>
            </a>
        </div>
        
    </main>
    
</div>
<style>
    #right a {
        border: none;
        width: 98%;
        text-decoration: none;
        background-color: #8fbe26;
        border-radius: 5px;
        padding: 4px 0;
        font-size: 18px;
        transition: 0.3s ease-in-out;
        margin-top: auto;
        color: white;
        font-weight: 550;
        text-align:center;
    }

        #right a:hover {
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
            transform: scale(1.01);
        }
</style>