#Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#firstContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    transition: 0.3s ease-in-out;
}

#first, #second, #third {
    background-color: white;
    font-family: 'Fira Code VF';
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

@media (max-width: 768px){
    #firstContainer{
        grid-template-columns: 1fr;
    }
}

.highcharts-figure,
.highcharts-data-table table {
    width: 100%;
}

#container1, #Age{
    height: 250px;
    font-family: 'Fira Code';
}

.highcharts-data-table table {
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    text-align: center;
    width: 50%;
}

.highcharts-data-table th {
    font-weight: 600;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {

}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


#secondContainer {
    font-family: 'Fira Code VF';
    display: grid;
    grid-template-columns: 1fr 2.02fr;
    gap: 5px;
    transition: 0.3s ease-in-out;
}

#left {
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

#right {
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    display:flex;
    justify-content:center;
}

#thirdContainer{
    display: grid;
    grid-template-columns: 2.02fr 1fr;
    gap: 5px;
    width: 100%;
    transition: 0.3s ease-in-out;
}

#other {
    background-color: white;
    font-family: 'Fira Code VF';
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#feedback {
    background-color: white;
    font-family: 'Fira Code VF';
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    #thirdContainer, #secondContainer {
        grid-template-columns: 1fr;
    }
}