@{
    ViewData["Title"] = "Manage";
}

<div id="Container">
    
    <div id="First">
        
        <img src="/Images/exam-results.jpg" class="w-100 rounded img-fluid" />

        <div style="font-family:'Fira Code Regular'" class="d-flex flex-row justify-content-between align-items-center">
            <span class="english">Languages</span>
            <span class="swahili">Lugha</span>
            <span class="english">English, Swahili</span>
            <span class="swahili">Kiingereza, Kiswahili</span>
        </div>

        <a id="TA">
            <i style="font-weight:550;" class="bi bi-bezier2"></i>
            <span class="english">Test Analysis</span>
            <span class="swahili">Uchambuzi wa mtihani</span>
        </a>
    </div>

    <div id="Second">
        ss
    </div>

</div>
