@{
    ViewData["Title"] = "Manage";
}

<div id="Container">
    
    <div id="First">
        
        <img src="/Images/exam-results.jpg" class="w-100 rounded img-fluid" />

    </div>

    <div id="Second">
        ss
    </div>

</div>
