html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f9fd;
}

.text-danger{
    color: red;
    font-family: 'Fira Code Light';
    font-weight: 600;
    font-size: 12px;
}

@font-face{
    font-family: 'Fira Code Light';
    src: url("/Fonts/FiraCode-Light.ttf");
}

@font-face{
    font-family: 'Fira Code Regular';
    src: url("/Fonts/FiraCode-Regular.ttf");
}

@font-face{
    font-family: 'Fira Code VF';
    src: url("/Fonts/FiraCode-VF.ttf");
}